:root {
  --theme-page-background-color: #1e0c1b;
  --theme-body-background-color: #000000;
  --theme-page-text-color: #e6e6e6;
  --theme-link-color: #ffc500;
}

body {
  background-color: var(--theme-body-background-color);
}

#app {
  max-width: 1800px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;

  background-color: var(--theme-page-background-color);
  color: var(--theme-page-text-color);
  margin-top: 12px;

  table {
    border-color: var(--theme-border-color);
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    td, th {
      border: 1px solid #a2a9b1;
      padding: 0.2em 0.4em
    }
  }

  a {
    color: var(--theme-link-color);
  }

  h1, h2 {
    margin-block-start: 0;
  }
  h1 {
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.1em;
  }

  button {
    background-color: #101f41;
    border-radius: 2px;
    border: 1px solid #90aed0;
    padding: 5px 14px;
    text-decoration: none;
    margin: 4px 2px;
    color: var(--theme-page-text-color);
    font-weight: bold;
    text-wrap: nowrap;
    cursor: pointer;
  }
}

